html, body {
    width: 100%;
    height: 100%;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
    color: #fff;
}

.counters {
    display: flex;
    gap: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 500px;
}